body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  background-color: #f4f7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #333;
}

.app-wrapper {
  display: flex;
  gap: 10px; /* gap between left and right panels */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 1px 200px rgba(0, 0, 0, 0.08);
  max-width: 1100px;
  width: 100%;
  align-items: flex-start; /* align to top */
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0.75rem 2.5rem 2.5rem;
  border-radius: 12px;
  flex-shrink: 0;
  position: relative; /* for the search bar and shiny button */
  width: 280px;
}

.search-container {
  position: absolute;
  top: 10px;
  left: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  width: calc(100% - 20px);
}

.search-container input[type="text"] {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
}

.search-container button {
  padding: 8px 12px;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

.search-container button:hover {
  background-color: black;
}

.portrait-box {
  width: 250px;
  height: 250px;
  background-color: #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #666;
  border: 1px dashed #bbb;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-top: 40px; /* top of portrait box and search bar gap */
}

.portrait-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portrait-box-placeholder {
  text-align: center;
  padding: 10px;
}

.portrait-box-placeholder.hidden {
  display: none;
}

.shiny-toggle-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0px solid;
  border-radius: 25%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  cursor: pointer;
  z-index: 10; /* priority */
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.shiny-toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.pokemon-name-input {
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  width: 100%;
  max-width: 250px;
  background-color: #fff;
  outline: none;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}

.type-container {
  display: flex;
  gap: 7.5px;
  margin-top: 1px; /* gap between name input and types */
}

.type-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 22.5px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  min-width: 70px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ccc;
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/></svg>'); /* Custom dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 18px;
}

/* default type */
.type-select option[value=""] {
  color: #333;
  background-color: #f0f0f0;
}

.stat-container {
  background-color: #ffffff;
  padding: 1.25rem 2rem 1.25rem 2rem;
  border-radius: 12px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.stat-bar {
  display: grid;
  grid-template-columns: 140px 60px 1fr;
  gap: 1rem;
  align-items: center;
}

.stat-label {
  font-weight: 600;
  text-align: right;
  font-size: 1rem;
}

.stat-value {
  width: 50px;
  padding: 8px;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
}

.stat-value::-webkit-outer-spin-button,
.stat-value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 6px;
  outline: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  background: linear-gradient(
    to right,
    var(--bar-color) 0%,
    var(--bar-color) var(--fill-percent),
    #ffffff var(--fill-percent),
    #ffffff 100%
  );
}

/* disable that shitty slider thumbnail */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 0px;
}

/* ranking colors taken from pokemondb.net */
.barchart-rank-1 {
  --bar-color: #f34444;
}
.barchart-rank-2 {
  --bar-color: #ff7f0f;
}
.barchart-rank-3 {
  --bar-color: #ffdd57;
}
.barchart-rank-4 {
  --bar-color: #a0e515;
}
.barchart-rank-5 {
  --bar-color: #23cd5e;
}
.barchart-rank-6 {
  --bar-color: #00c2b8;
}

/* type colors taken from pokemondb.net */
.type-normal {
  background-color: #aa9;
}
.type-fire {
  background-color: #f42;
}
.type-water {
  background-color: #39f;
}
.type-electric {
  background-color: #fc3;
}
.type-grass {
  background-color: #7c5;
}
.type-ice {
  background-color: #6cf;
}
.type-fighting {
  background-color: #b54;
}
.type-poison {
  background-color: #a59;
}
.type-ground {
  background-color: #db5;
}
.type-flying {
  background-color: #89f;
}
.type-psychic {
  background-color: #f59;
}
.type-bug {
  background-color: #ab2;
}
.type-rock {
  background-color: #ba6;
}
.type-ghost {
  background-color: #66b;
}
.type-dragon {
  background-color: #76e;
}
.type-dark {
  background-color: #754;
}
.type-steel {
  background-color: #aab;
}
.type-fairy {
  background-color: #e9e;
}